body{
    font-family: 'Poppins', sans-serif;
}
.color{
    color: orange;
}
h1{
    color: rgb(49, 46, 46);
    font-size: 50px;
}
.btn{
text-decoration: none;
padding: 10px 20px;
background-image: linear-gradient(tomato,red);
border-radius: 30px;
color: white;
font-weight: 700;
}
.top-part{
    display: flex;
    margin: 10px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 95%;
    border-radius: 30px;
    margin-top: 40px;
}
.about-me{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#recipi{
    text-align: center;
}
#recipi-pera{
    text-align: center;
}
.thirty{
    width: 30%;
    margin: 20px;
}
.thirty img{
    width: 90%;
    border-radius: 20px;
    box-shadow: 10px 10px 50px gray;
}
.recipies{
    display: flex;
}

